ClientUI/Service References/ServiceReference1/ParseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://andriyshala-001-site1.gtempurl.com/ParseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://andriyshala-001-site1.gtempurl.com/ParseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://andriyshala-001-site1.gtempurl.com/ParseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
      <xsd:import schemaLocation="http://andriyshala-001-site1.gtempurl.com/ParseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParseService_GetVacancies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVacancies" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetVacancies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVacanciesResponse" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetVacanciesBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVacanciesBySearch" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetVacanciesBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVacanciesBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetSites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSites" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetSites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesResponse" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCity" />
  </wsdl:message>
  <wsdl:message name="IParseService_GetCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityResponse" />
  </wsdl:message>
  <wsdl:message name="IParseService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IParseService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IParseService_StartUpdateDataDate_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUpdateDataDate" />
  </wsdl:message>
  <wsdl:message name="IParseService_StartUpdateDataDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUpdateDataDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IParseService">
    <wsdl:operation name="GetVacancies">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/GetVacancies" message="tns:IParseService_GetVacancies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/GetVacanciesResponse" message="tns:IParseService_GetVacancies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVacanciesBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/GetVacanciesBySearch" message="tns:IParseService_GetVacanciesBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/GetVacanciesBySearchResponse" message="tns:IParseService_GetVacanciesBySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/GetSites" message="tns:IParseService_GetSites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/GetSitesResponse" message="tns:IParseService_GetSites_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/GetCategory" message="tns:IParseService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/GetCategoryResponse" message="tns:IParseService_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/GetCity" message="tns:IParseService_GetCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/GetCityResponse" message="tns:IParseService_GetCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/Start" message="tns:IParseService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/StartResponse" message="tns:IParseService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartUpdateDataDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IParseService/StartUpdateDataDate" message="tns:IParseService_StartUpdateDataDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParseService/StartUpdateDataDateResponse" message="tns:IParseService_StartUpdateDataDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParseService" type="tns:IParseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVacancies">
      <soap:operation soapAction="http://tempuri.org/IParseService/GetVacancies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVacanciesBySearch">
      <soap:operation soapAction="http://tempuri.org/IParseService/GetVacanciesBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <soap:operation soapAction="http://tempuri.org/IParseService/GetSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IParseService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <soap:operation soapAction="http://tempuri.org/IParseService/GetCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IParseService/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartUpdateDataDate">
      <soap:operation soapAction="http://tempuri.org/IParseService/StartUpdateDataDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParseService">
    <wsdl:port name="BasicHttpBinding_IParseService" binding="tns:BasicHttpBinding_IParseService">
      <soap:address location="http://andriyshala-001-site1.gtempurl.com/ParseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>