ClientUI/Service References/ServiceReference1/ParseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVacancy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vacancy" nillable="true" type="tns:Vacancy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacancy" nillable="true" type="tns:ArrayOfVacancy" />
  <xs:complexType name="Vacancy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyWebSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Experience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParseSiteId" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfEmployment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyHref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Сategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vacancy" nillable="true" type="tns:Vacancy" />
</xs:schema>